html {
height: 100%;
width: 100%;
}
body {
font-family: 'PT Serif', serif;	
font-size: 18px;
  background: url('background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  padding: 5px 0 30px 0;
  overflow: hidden;
  height: auto;
  margin-bottom: 3.5em;
}

.container {
	width:100%;
	margin: 0 auto;
	padding-left: 2%;
	z-index:99;
	position:absolute;
}

.logo {
	font-size: 12px;
	float:left;
	min-height: 75px;
  display: inline-block;

}
/*nav bar not collapsed*/

nav {background:transparent;float:right; margin-right:5%;padding-bottom: 3%;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline; width:auto; padding-top: 1.7%;}
nav ul li:hover {text-decoration: underline;}
nav ul li a {display:block;padding:0px 25px;color:#2E2C2A; font-size:18px; font-weight: 700; text-decoration: none;}
nav ul li ul {position:absolute; width: 130px;float:left; clear:left;background: rgba(230, 230, 230, 0.95); list-style: none; padding-left: 0px;}
nav ul li ul li {float:left; clear:left; text-align: left;}
nav ul li ul li a {display:block; padding:15px 0px;color:#2E2C2A; font-weight: 700; text-decoration: none;}
nav ul li ul li:hover a {text-decoration: underline;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}

nav .line {width: 3em; height: .3em; background-color: black; border-radius: 1em; margin-top: .25em;}

@media screen and (max-width: 850px) {
  nav {float:left; width:100%; height: auto; line-height: 1.5em; padding-bottom: 0;}
  .container{height: auto;  position: relative;}
  nav ul li ul{position: relative;}
  
  header{margin-bottom: 0;}
  }

@media screen and (max-width: 535px) {
  nav ul li ul{list-style: none;}
  nav ul li ul li {display: block; float:left; clear: left;}
  nav ul li a{ font-size:  10px;}
}  

@media screen and (max-width: 461px) {
  nav ul li ul{list-style: none;}
  nav ul li ul li {display: block; float:left; clear: left; }
  nav ul li a{ font-size:  10px; min-width: 461px; text-align: left; }
}  

.maintext {width:100%; min-height: 475px;position: relative; float:left; background-color: rgba(217, 207, 196, .6); padding:3%; color:#2E2C2A; border: #2E2C2A solid 2px;}
table {background: white; border: 2px solid #2E2C2A; width: auto;}
.form-row{width:auto; border: 2px solid #2E2C2A;padding-top: 1em; padding-right: 2em;}
/*.form-row:first-of-type{background-color: gray;}*/
td {text-align: left; padding-left:1em; float:left; padding-top: 1em; padding-bottom: 1em;}
th {text-align: left; padding-left:1em; float:left; padding-top: 1em; padding-bottom: 1em;}
.ptitle{width:15em;}
.pyear{width:10em;}
.pbook{width:12em;}
.span2{width: 30em;}
.input-append{margin-bottom: 2em;}
thead{background-color: rgba(230, 230, 230, 0.95);}






