html {
height: 100%;
width: 100%;
}
body {
font-family: 'PT Serif', serif;	
  background: url('whitebg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  padding: 5px 0 30px 0;
  overflow: hidden;
  margin-bottom: 4%;
}

.container {
	width:100%;
	margin: 0 auto;
	padding-left: 2%;
	z-index:99;
	position:absolute;
}

.logo {
	font-size: 12px;
	float:left;
	max-height: 15px;

}
/*nav bar*/
nav {background:transparent;float:right; margin-right:5%;padding-bottom: 3%;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline; width:auto; padding-top: 1.7%;}
nav ul li:hover {text-decoration: underline;}
nav ul li a {display:block;padding:0px 25px;color:#2E2C2A; font-size:14px; font-weight: 700; text-decoration: none;}
nav ul li ul {position:absolute; width: 130px;float:left; clear:left;background: rgba(230, 230, 230, 0.95); list-style: none; padding-left: 0px;}
nav ul li ul li {float:left; clear:left; text-align: left;}
nav ul li ul li a {display:block;padding:15px 0px;color:#2E2C2A; font-weight: 700;, text-decoration: none;}
nav ul li ul li:hover a {text-decoration: underline;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}

.maintext{width: 100%; background-color: #d9cfc4; height: 500px; border: solid 2px #2E2C2A; text-align: center;}
.heading{margin:0 auto; padding-top: 3%; padding-bottom: 1%}
.heading h1,h3{display: inline; }
.heading h1{padding-left: .5em;}

.formtable {margin: 0 auto; display: inline-table;}
table {background: white; border: 2px solid #2E2C2A;}
.formrow{width:auto; border: 2px solid #2E2C2A;padding-top: 1em;}
td{padding-left:1em; width: auto; float:left; padding-top: 1em; padding-bottom: 1em;}
#selectors{border:2px solid #2E2C2A; background-color:rgb(230, 230, 230);}
#button-cell{padding-right: 1em;}
#quote{height: 300px;}



