<!DOCTYPE html>
<html>
<head>
  <title>The Wallace Stevens Society/title>
</head>
<body>
<%= javascript_include_tag("index")%>
<%= javascript_include_tag('public')%>
<%= javascript_include_tag('jquery-1.11.3.min') %>
<%= yield %>

</body>
</html>
